* { position: relative; margin: 0; padding: 0; box-sizing: border-box; }
body { width: 75%; min-height: 100vh; margin: 0 auto; padding-bottom: 100px; color: #444; background-color:white;}
:root { font-size: 16px; font-family: monospace; }

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  max-width: 960px;
  margin: 0 auto;
}

#pagelink {
    /* needed to make the $ the right color */
    color: #805AC3;
    font-size: 1.5em;
    font-weight: bold;
}

h1, h2 {
    color: black;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav a { margin-left: 20px; }

#hero { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 40px auto;
}
#hero h1 { font-size: 4rem; max-width: 640px; }

#hero nav { 
  display: flex; 
  flex-direction: column;
  width: 75%;
  margin-left: 30px;
}
#hero nav h2 { font-size: 2rem; }

section { max-width: 960px; margin: 0 auto; }

#projects { display: flex; flex-wrap: wrap; padding-bottom: 25px; }
.projects-list { display: flex; flex-wrap: wrap; padding-bottom: 25px; }
#projects h2 { width: 100%;  color: #444;}
#projects project-title { font-size:1.5em; font-weight: bold;
    display:inline-block;}
.project { width: 25%; min-width: 200px; padding: 20px 10px; }
.project img { display: inline-block; width: 1.5em; height: 1.5em; }
.project a:hover { text-decoration: none; }
.repo-icons { float: right; z-index: 99; }
.project a:hover > project-title,
    .project a:active > project-title { text-decoration: underline; }
.repo-icons img:not(.nofilter) {
  filter: invert(40%);
}
.author img { width: 1em; height: 1em; }

.shell { text-transform: lowercase; font-family: monospace; }
.prompt-sign:before { content: "$ "; }


#tags { display: flex; flex-wrap: wrap;}
.tag {
  background-color: #ada3be;
  margin: 5px 5px;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.tag-selected {
  background-color: #805AC3;
}

.project-filtered {
  /* border: 1px solid #805AC3; */
  opacity: 0.5;
}

ul { margin: 20px; }
#irc li { list-style-type: none; }
.shell-list li:before { content: "$ "; font-family: monospace; }
li { padding: 3px 0; }
p { padding: 10px 0; }
p, li { max-width: 75ch; font-family: sans-serif; }
section > h2, section > h3 { padding-top: 15px; padding-bottom: 5px; }

.button {
  background-color: #805AC3;
  margin: 10px 0;
  padding: 10px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  background-size: 30px auto;
  color: white;
}

.button.discord { background-image: url(/images/discord.svg); }
.button.reddit  { 
  background-image: url(/images/reddit.svg); 
  background-size: auto 25px;
}
.button.irc { 
  background-image: url(/images/irc.svg); 
  background-size: 20px; 
  background-position-x: calc(100% - 8px);
}

a { color: #805AC3; text-decoration: none; }
a:hover { text-decoration: underline; }
span.author, cite { display: block; font-style: italic; margin-bottom: 5px; }
span.author:before { font-style: normal; content: "by "; }

@media (max-width: 960px) {
  header h1 { font-size: 1.25rem; }
  #hero { flex-direction: column; }
  #hero h1 { font-size: 3rem; text-align: center; margin-bottom: 30px; }
  #hero h2 { text-align: center; }
  #hero nav { margin-left: 0; }
  #projects { justify-content: center; }
  #projects h2 { text-align: center; }
}

@media (max-width: 720px) {
  body { width: 90%; }
  header { flex-direction: column; padding: 10px 0; }
  header h1 { text-align: center; }
  header nav { justify-content: center; margin-top: 10px; }
  header nav a:first-child { margin: 0; }
}

@media (max-width: 360px) {
  #hero h1 { font-size: 2rem; }
}

#pagelink::after {
  content: "_";
  animation: blinker 1.75s step-start infinite;
}

@keyframes blinker {
  30% {
    opacity: 0;
  }
}

/* Dark mode tweaks: */
@media (prefers-color-scheme: dark) {
   #pagelink, a {
     color:#E0A0F0;
   }
   body {
     background-color:#242138;
     color:#dbd1e1;
   }
   h1, h2, #projects h2 {
     color:white;
   }
   .button {
     background-color:#532e93;
   }
   .tag {
     background-color:#3b2e53;
     color:#d0a6d4;
   }
  .tag-selected {
    background-color:#a571ab;
    color:#201720;
  }
}

