* { position: relative; margin: 0; padding: 0; box-sizing: border-box; }
body { width: 75%; min-height: 100vh; margin: 0 auto; padding-bottom: 100px; }
:root { font-size: 16px; font-family: monospace; }

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  max-width: 960px;
  margin: 0 auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav a { margin-left: 20px; }
header nav h2 { font-size: 2em; }

#hero { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 40px auto;
}
#hero h1 { font-size: 4rem; max-width: 640px; color: black; }

#hero nav { 
  display: flex; 
  flex-direction: column;
  width: 75%;
  margin-left: 30px;
}
#hero nav h2 { font-size: 2rem; color: black; }

section { max-width: 960px; margin: 0 auto; }

#projects { display: flex; flex-wrap: wrap; padding-bottom: 25px; }
#projects h2 { width: 100%; }
.project { width: 25%; min-width: 200px; padding: 20px 10px; color: black; }
.project img { display: inline-block; width: 1.5em; height: 1.5em; }
.project h3 { display: inline-block; font-size: 1.5em; }
.project a:hover { text-decoration: none; }
.project h3:hover { text-decoration: underline; }

.shell { text-transform: lowercase; font-family: monospace; }
.shell:before { content: "$ "; }

ul { margin: 20px; }
#irc li { list-style-type: none; }
.shell-list li:before { content: "$ "; font-family: monospace; }
li { padding: 3px 0; }
p { padding: 10px 0; }
p, li { max-width: 75ch; font-family: sans-serif; }
section > h2, section > h3 { padding-top: 15px; padding-bottom: 5px; }

.button {
  background-color: #805AC3;
  margin: 10px 0;
  padding: 10px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  background-size: 30px auto;
  color: white;
}

.button.discord { background-image: url(images/discord.svg); }
.button.reddit  { 
  background-image: url(images/reddit.svg); 
  background-size: auto 25px;
}
.button.irc { 
  background-image: url(images/irc.svg); 
  background-size: 20px; 
  background-position-x: calc(100% - 8px);
}

a, h1, h2, h3 { color: #805AC3; text-decoration: none; }
a:hover { text-decoration: underline; }
span.author, cite { display: block; font-style: italic; margin-bottom: 5px; }
span.author:before { font-style: normal; content: "by "; }

@media (max-width: 960px) {
  header h1 { font-size: 1.25rem; }
  #hero { flex-direction: column; }
  #hero h1 { font-size: 3rem; text-align: center; margin-bottom: 30px; }
  #hero h2 { text-align: center; }
  #hero nav { margin-left: 0; }
  #projects { justify-content: center; }
  #projects h2 { text-align: center; }
}

@media (max-width: 720px) {
  body { width: 90%; }
  header { flex-direction: column; padding: 10px 0; }
  header h1 { text-align: center; }
  header nav { justify-content: center; margin-top: 10px; }
  header nav a:first-child { margin: 0; }
}

@media (max-width: 360px) {
  #hero h1 { font-size: 2rem; }
}
